<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selectEmpById">

    </entry>

    <entry key="selectAllEmpList">

    </entry>

    <entry key="selectNewEmpId">

    </entry>

    <entry key="insertEmp">

    </entry>

    <entry key="updateEmp">
        UPDATE TBL_EMPLOYEE
        SET EMAIL = ?,
            PHONE = ?
        WHERE EMP_ID = ?
    </entry>

    <entry key="deleteEmp">

    </entry>

</properties>